
<!DOCTYPE html>
<html lang="en">
     <head>
          <title>Finding Missing People</title>
          {{>header}}
     </head>

<body>
     {{>navbar}}
     
<div class="bg-img">
     <div class="content">
          <header> Login  </header>
          <form action="/login" method="POST">
               <div class="field">
                    <span class='fa fa-user'></span>
                    <input type="text" placeholder="Email" required name="email">
               </div>

               <div class="field space">
                    <span class="fa fa-lock"></span>
                    <input type="password" class="password" placeholder="password" required name="password">
                    <span class="show">SHOW</span>
               </div>
               
               {{!-- <div class="col-1"> --}}
                                   {{!-- <label for="Role"><b>Role:</b></label> --}}
               
                              <div class="row-1">
                                   <label class="radio inline">
                                        <input type="radio" name="role" value="User" checked>
                                        <span1>User</span1>
                                   </label>
                                   <label class="radio inline">
                                        <input type="radio" name="role" value="Admin" checked>
                                        <span1>Admin</span1>
                                   </label>
                              </div>
               {{!-- </div> --}}

               <div class="field space">
                    <input type="submit" value="Sign In">
               </div>

               <div class="alt">
               <h5>Don't have account? <a href="/register"> Signup here </a> </h5>
               </div>
          </form>
     </div>
</div>


</body>

</html>

