<!DOCTYPE html>
<html>
     <head>
          <title>Finding Missing People</title>
          {{>header}}

		<script src='https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js'></script>
          <link rel="stylesheet" href="css/verify.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


		 

     </head>

<body>
     <header>
     {{>navbar1}}
     </header>

<div class="verify">
<table>
     <tr>
          <th colspan="3"><h1 id='mainHeaderH1' class='mainHeaderH1'>Verification of Image</h1></th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
     </tr>
     <tr>
          <td><h2 class="head">Input Image</h2> </td>
          <td>&nbsp;</td>
          <td><h2 class="head">Match Image</h2></td>
     </tr>
     <tr>
          <td>
               <canvas id='canvasInsertImage' class='canvasRoundCorders'></canvas>
               <input id='insertImage' type='file' accept='image/*' onchange="upload('canvasInsertImage','insertImage')">

          </td><br>
          <td>
               <i class="fa-li fa fa-spinner fa-spin"></i>
          </td>
          <td>
               <canvas id='canvasUploadImage' class='canvasRoundCorder'></canvas>
               {{!-- <input id='inputImage' type='file' accept='image/*' onchange="upload1('canvasUploadImage','inputImage')"> --}}

          </td>
     </tr>
     <tr>
          <td>&nbsp;</td>
          <td>
               <div class="bttn"><button id="verify" type="button" onclick="search()" class="button button1">Verify Photo</button></div>
          </td>
          <td>&nbsp;</td>
     </tr>

     <tr>
          <td>&nbsp;</td>
          <td>
               <h4>Result:
                    
               </h4>
          </td>
          <td>&nbsp;</td>
     </tr>
</table>

</div>

<script>
     //window.CP.PenTimer.MAX_TIME_IN_LOOP_WO_EXIT = 3000;
     var image = null;

     function upload(elem, input) {
     var canvas = document.getElementById(elem);
     var file = document.getElementById(input); 
     image = new SimpleImage(file);
     image.drawTo(canvas);

     canvas.toDataURL ('image/jpg');
     console.log(canvas.toDataURL('image/jpg'))
   }

//
</script>

{{!-- <script src="js/verify.js"></script> --}}

</body>
</html> 