     
           <div class=""> 
          <div class = "navbar">
               <div>
                     <img src="css/logo.png">                     
               </div>
               <nav>
                    <ul id='menu'>                       
                         <li><a href='/adminDashboard'>Add/Edit</a></li>
                         <li><a href='/adminVerify'>Verification</a></li>
                         <li><form action="/logout?_method=DELETE" method="POST">
                              <button type="submit">Log Out</button>
                              </form></li>
                    </ul>
               </nav>
          </div>
     </div> 

