     
           <div class=""> 
          <div class = "navbar">
               <div>
                    <img src="css/logo.png"> 
               </div>
               <nav>
                    <ul id='menu'>
                         <li><a href='/landing'>Register </a></li>
                         <li><a href='/add'>Add/Edit</a></li>
                         <li><a href='/verify'>Verification</a></li>
                         <li><form action="/logout?_method=DELETE" method="POST">
                              <button type="submit">Log Out</button>
                              </form></li>
                    </ul>
               </nav>
          </div>
     </div>


     