
     <div class="full-page"> 
          <div class = "navbar">
               <div>
                    <img src="css/logo.png"> 
               </div>
               <nav>
                    <ul id='menu'>
                         <li><a href='/'>Home</a></li>
                         <li><a href='/login'>Login</a></li>
                         
                         <li><a href='/register'>Register</a></li>
                    </ul>
               </nav>
          </div>
     </div>